/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1 {
  color: rgb(154,172,166);
}

h2 {
  color: rgb(114,126,118);
}

.necklace {
  color: rgb(154,172,166);
  border: solid;
  border-color: rgb(154,172,166);
  border-width: 4pt;
}

a.press {
  border-color: rgb(203,204,203);
  border-width: 4pt;
}
